<div class="bg-gray-800 text-white py-3 fixed bottom-0 left-0 w-full">
  <div class="container mx-auto px-4">
    <p class="text-center">&copy; All Rights Reserved</p>
    <footer class="text-center">
      <cite class="text-gray-400" title="Source Title">Aditya Khedekar</cite>
      <p>
        <a href="https://iadtya.github.io/portfolio-2022-/" target="_blank" class="text-blue-400">Checkout the <span>Portfolio</span></a>
      </p>
    </footer>
  </div>
</div>