<div class="mx-auto max-w-2xl py-16 sm:py-24 lg:max-w-none lg:py-32">
  <h2 class="text-3xl font-bold text-center text-gray-900 mb-10">Projects !!!</h2>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-6">
    <% projects.forEach(function(project) { %>
      <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-xl shadow-lg hover:shadow-2xl transition-shadow duration-300 transform hover:-translate-y-2"
      >
        <a href="#">
          <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-800 hover:text-blue-700 transition-colors duration-200">
            <%= project.name %>
          </h5>
        </a>
        
        <p class="mb-4 font-medium text-gray-600">
          <%= project.description %>
        </p>
        
        <h3 class="mt-4 font-medium text-sm text-blue-700">
          <a href="#" class="hover:underline"> <%= project.author %> </a>
        </h3>

        <a
          href="/projects/<%= project.id %>"
          class="inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-blue-600 rounded-md shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-6 transition-all duration-200"
        >
          Read more
          <svg
            class="w-4 h-4 ml-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"
            />
          </svg>
        </a>
      </div>
    <% }) %>
  </div>
</div>
